In [24]:
%%html
<style type='text/css'>
.CodeMirror{
    font-size: 18px;
}

div.output_area pre {
    font-size: 16px;
}
</style>

In [25]:
import numpy as np
import pandas as pd
import sqlite3

**Kiểm tra các bảng**

In [26]:
conn = sqlite3.connect('database/example_da07.db')
cursor = conn.cursor()

In [39]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
res = cursor.fetchall()
res

[('PhongBan',), ('nhanvien',)]

**Kiểm tra bảng `PhongBan`**

In [35]:
cursor.execute("SELECT * FROM phongban")
print(cursor.fetchall())

[(1, 'Phòng Nhân Sự', None), (4, 'Phong Ke Toan', None)]

In [43]:
cursor.execute("SELECT * FROM phongban")
df = pd.DataFrame(cursor.fetchall(), columns=[item[0] for item in cursor.description])
df

   id_phongban                           ten  id_truongphong
0            1                 Phòng Nhân Sự             NaN
1            4                 Phong Ke Toan             3.0
2            5                Phong San Xuat             NaN
3            6  Phong Kinh Doanh - Marketing             NaN
4            7                Phong Ky Thuat             NaN
5            8                     Phong R&D             NaN

**Kiểm tra bảng `NhanVien`**

In [45]:
cursor.execute("SELECT * FROM nhanvien")
df = pd.DataFrame(cursor.fetchall(), columns=[item[0] for item in cursor.description])
df

,id_nhanvien,ho,ten,email,id_phongban,id_quanly,ngay_batdau,luong
0,1,Tran,Van A,atran@gmail.com,4,3.0,None,15000.0
1,3,Pham,Van Binh,binhpham12345@gmail.com,4,NaN,None,18000.0