Thực hiện lại phần demo trên dữ liệu InstaCart:
* 1. Sử dụng hàm 'interactive' thay cho hàm 'interact'
* 2. Bổ sung thêm Button sao cho sau khi chọn các options xong, phải click lên
Button mới thực hiện vẽ lại figure

Luyện tập: áp dụng interactive widgets cho phân tích EDA dữ liệu chuyến bay

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
import ipywidgets as widgets
from ipywidgets import interact, interactive, fixed, interact_manual

In [2]:
from IPython.display import display
button = widgets.Button(description="Click Me!")
output = widgets.Output()

display(button, output)

def on_button_clicked(b):
    with output:
        print("Button clicked.")

button.on_click(on_button_clicked)

Button(description='Click Me!', style=ButtonStyle())

Output()

In [3]:
df = pd.read_csv('data/aisle_deparment_counts.csv')
df

     aisle_id  counts                     aisle  department_id    department
0           1   15632     prepared soups salads             20          deli
1          13   21357            prepared meals             20          deli
2          14   28085    tofu meat alternatives             20          deli
3          67   76837      fresh dips tapenades             20          deli
4          96   85093                lunch meat             20          deli
..        ...     ...                       ...            ...           ...
129        69   74567       soup broth bouillon             15  canned goods
130        81   64252  canned jarred vegetables             15  canned goods
131        95   14455       canned meat seafood             15  canned goods
132        99   18274   canned fruit applesauce             15  canned goods
133       100   14748                   missing             21       missing

[134 rows x 5 columns]

In [4]:
df = df.sort_values('counts', ascending=False)
df.reset_index(drop=True, inplace=True)
df

,aisle_id,counts,aisle,department_id,department
0,24,786888,fresh fruits,4,produce
1,83,737374,fresh vegetables,4,produce
2,123,381575,packaged vegetables fruits,4,produce
3,120,313279,yogurt,16,dairy eggs
4,21,211480,packaged cheese,16,dairy eggs
...,...,...,...,...,...
129,44,1911,eye ear care,11,personal care
130,102,1792,baby bath body care,18,babies
131,82,1735,baby accessories,18,babies
132,132,1308,beauty,11,personal care
133,113,980,frozen juice,1,frozen

In [5]:
import squarify

In [6]:
@widgets.interact(N = (10,30,2)) # 10-30, step =2
def VeTreemap1(N = 20):
    df2 = df[['counts', 'aisle']][0:N]
    other = pd.DataFrame({'counts': [df['counts'][N:].sum()], 'aisle': ['others']})
    df2 = df2.append(other, ignore_index=True)

    fig,ax=plt.subplots(figsize=(15,7))
    squarify.plot(sizes=df2['counts'], label=df2['aisle'])
    plt.axis('off')
    plt.show()
    plt.close('all')

interactive(children=(IntSlider(value=20, description='N', max=30, min=10, step=2), Output()), _dom_classes=('…

In [7]:
def VeTreemap1_interactive(N):
    df2 = df[['counts', 'aisle']][0:N]
    other = pd.DataFrame({'counts': [df['counts'][N:].sum()], 'aisle': ['others']})
    df2 = df2.append(other, ignore_index=True)

    fig,ax=plt.subplots(figsize=(15,7))
    squarify.plot(sizes=df2['counts'], label=df2['aisle'])
    plt.axis('off')
    plt.show()
    plt.close('all')

In [8]:
w1 = interactive(VeTreemap1_interactive, N=20)
display(w1)

interactive(children=(IntSlider(value=20, description='N', max=60, min=-20), Output()), _dom_classes=('widget-…

In [9]:
@widgets.interact_manual(N = (10,30,2)) # 10-30, step =2
def VeTreemap1_BTN(N = 20):
    df2 = df[['counts', 'aisle']][0:N]
    other = pd.DataFrame({'counts': [df['counts'][N:].sum()], 'aisle': ['others']})
    df2 = df2.append(other, ignore_index=True)

    fig,ax=plt.subplots(figsize=(15,7))
    squarify.plot(sizes=df2['counts'], label=df2['aisle'])
    plt.axis('off')
    plt.show()
    plt.close('all')

interactive(children=(IntSlider(value=20, description='N', max=30, min=10, step=2), Button(description='Run In…

In [10]:
df_d = df[['department','counts']].groupby('department').sum()
df_d = df_d.sort_values('counts', ascending=False)
df_d.reset_index(inplace=True)
df_d

         department   counts
0           produce  2046990
1        dairy eggs  1168475
2            snacks   623318
3         beverages   579862
4            frozen   482633
5            pantry   404730
6            bakery   253775
7      canned goods   230207
8              deli   227004
9   dry goods pasta   186861
10        household   159027
11        breakfast   153218
12     meat seafood   152797
13    personal care    96370
14           babies    92045
15    international    58249
16          alcohol    33418
17             pets    21220
18          missing    14748
19            other     7639
20             bulk     7414

In [11]:
@widgets.interact(N = (10,20,1))
def VeTreemap2(N = 10):
    df2 = df_d[['counts', 'department']][0:N]
    
    other_count = df_d['counts'][N:].sum()
    other = pd.DataFrame({'counts': [other_count], 'department': ['others']})
    df2 = df2.append(other, ignore_index=True)
    
    fig,ax=plt.subplots(figsize=(12,5))
    squarify.plot(sizes=df2['counts'], label=df2['department'])
    plt.axis('off')
    plt.show()
    plt.close('all')

interactive(children=(IntSlider(value=10, description='N', max=20, min=10), Output()), _dom_classes=('widget-i…

In [12]:
def VeTreemap2_interactive(N):
    df2 = df_d[['counts', 'department']][0:N]
    
    other_count = df_d['counts'][N:].sum()
    other = pd.DataFrame({'counts': [other_count], 'department': ['others']})
    df2 = df2.append(other, ignore_index=True)
    
    fig,ax=plt.subplots(figsize=(12,5))
    squarify.plot(sizes=df2['counts'], label=df2['department'])
    plt.axis('off')
    plt.show()
    plt.close('all')

In [13]:
w2 = interactive(VeTreemap2_interactive, N=10)
display(w2)

interactive(children=(IntSlider(value=10, description='N', max=30, min=-10), Output()), _dom_classes=('widget-…

In [14]:
@widgets.interact_manual(N = (10,20,1))
def VeTreemap2_BTN(N = 10):
    df2 = df_d[['counts', 'department']][0:N]
    
    other_count = df_d['counts'][N:].sum()
    other = pd.DataFrame({'counts': [other_count], 'department': ['others']})
    df2 = df2.append(other, ignore_index=True)
    
    fig,ax=plt.subplots(figsize=(12,5))
    squarify.plot(sizes=df2['counts'], label=df2['department'])
    plt.axis('off')
    plt.show()
    plt.close('all')

interactive(children=(IntSlider(value=10, description='N', max=20, min=10), Button(description='Run Interact',…

In [15]:
# Thêm widget để chọn bảng màu
cmaps = ['tab20', 'tab20b', 'viridis', 'YlOrRd', 'prism']

@widgets.interact(N = (10,20,1), ColorMap=cmaps)
def VeTreemap3(N = 10, ColorMap=None):
    df2 = df_d[['counts', 'department']][0:N]
    
    other_count = df_d['counts'][N:].sum()
    other = pd.DataFrame({'counts': [other_count], 'department': ['others']})
    df2 = df2.append(other, ignore_index=True)
    
    if ColorMap:
        cmap=plt.get_cmap(ColorMap)
        colors = [cmap(v) for v in np.linspace(0,1,N)][::-1]
    else: colors = None

    fig,ax=plt.subplots(figsize=(12,5))
    squarify.plot(sizes=df2['counts'], label=df2['department'], color=colors)
    plt.axis('off')
    plt.show()
    plt.close('all')

interactive(children=(IntSlider(value=10, description='N', max=20, min=10), Dropdown(description='ColorMap', o…

In [16]:
def VeTreemap3_interactive(N, ColorMap):
    df2 = df_d[['counts', 'department']][0:N]
    
    other_count = df_d['counts'][N:].sum()
    other = pd.DataFrame({'counts': [other_count], 'department': ['others']})
    df2 = df2.append(other, ignore_index=True)
    
    if ColorMap:
        cmap=plt.get_cmap(ColorMap)
        colors = [cmap(v) for v in np.linspace(0,1,N)][::-1]
    else: colors = None

    fig,ax=plt.subplots(figsize=(12,5))
    squarify.plot(sizes=df2['counts'], label=df2['department'], color=colors)
    plt.axis('off')
    plt.show()
    plt.close('all')

In [17]:
# Thêm widget để chọn bảng màu
cmaps = ['tab20', 'tab20b', 'viridis', 'YlOrRd', 'prism']
w3 = interactive(VeTreemap3_interactive, N = (10,20,1), 
                 ColorMap = cmaps)
display(w3)

interactive(children=(IntSlider(value=15, description='N', max=20, min=10), Dropdown(description='ColorMap', o…

In [18]:
# Thêm widget để chọn bảng màu
cmaps = ['tab20', 'tab20b', 'viridis', 'YlOrRd', 'prism']

@widgets.interact_manual(N = (10,20,1), ColorMap=cmaps)
def VeTreemap3_BTN(N = 10, ColorMap=None):
    df2 = df_d[['counts', 'department']][0:N]
    
    other_count = df_d['counts'][N:].sum()
    other = pd.DataFrame({'counts': [other_count], 'department': ['others']})
    df2 = df2.append(other, ignore_index=True)
    
    if ColorMap:
        cmap=plt.get_cmap(ColorMap)
        colors = [cmap(v) for v in np.linspace(0,1,N)][::-1]
    else: colors = None

    fig,ax=plt.subplots(figsize=(12,5))
    squarify.plot(sizes=df2['counts'], label=df2['department'], color=colors)
    plt.axis('off')
    plt.show()
    plt.close('all')

interactive(children=(IntSlider(value=10, description='N', max=20, min=10), Dropdown(description='ColorMap', o…

In [19]:
# Tính ra số lượng sản phẩm đã bán được theo từng aisle của từng department
df3 = df[['department', 'aisle', 'counts']].groupby(['department', 'aisle']).sum()
df3

                                       counts
department aisle
alcohol    beers coolers                10609
           red wines                     7823
           specialty wines champagnes    2413
           spirits                       5939
           white wines                   6634
...                                       ...
snacks     ice cream toppings            2372
           mint gum                      4840
           nuts seeds dried fruit       65980
           popcorn jerky                35179
           trail mix snack mix           7686

[134 rows x 1 columns]

In [20]:
# Chỉ chọn 10 department bán được nhiều sản phẩm nhất
dep_list = list(df_d['department'].iloc[0:10].values)

@widgets.interact(dep_name=dep_list)
def Ve_BD_Theo_Dep(dep_name):
    new_df = df3.loc[dep_name].reset_index()
    
    fig = plt.figure(figsize=(8,5))
    ax = sns.barplot(data=new_df, x=new_df.index, y='counts', 
                palette='bright',
               )
    ax.set_xticklabels(new_df['aisle'], rotation=-60, ha='left')
    plt.title(dep_name)
    plt.show()
    plt.close('all')
#Ve_BD_Theo_Dep('alcohol')

interactive(children=(Dropdown(description='dep_name', options=('produce', 'dairy eggs', 'snacks', 'beverages'…

In [21]:
def Ve_BD_Theo_Dep_interactive(dep_name):
    new_df = df3.loc[dep_name].reset_index()
    
    fig = plt.figure(figsize=(8,5))
    ax = sns.barplot(data=new_df, x=new_df.index, y='counts', 
                palette='bright',
               )
    ax.set_xticklabels(new_df['aisle'], rotation=-60, ha='left')
    plt.title(dep_name)
    plt.show()
    plt.close('all')

In [22]:
dep_list = list(df_d['department'].iloc[0:10].values)

w4 = interactive(Ve_BD_Theo_Dep_interactive, dep_name=dep_list)
display(w4)

interactive(children=(Dropdown(description='dep_name', options=('produce', 'dairy eggs', 'snacks', 'beverages'…

In [23]:
# Chỉ chọn 10 department bán được nhiều sản phẩm nhất
dep_list = list(df_d['department'].iloc[0:10].values)

@widgets.interact_manual(dep_name=dep_list)
def Ve_BD_Theo_Dep_BTN(dep_name):
    new_df = df3.loc[dep_name].reset_index()
    
    fig = plt.figure(figsize=(8,5))
    ax = sns.barplot(data=new_df, x=new_df.index, y='counts', 
                palette='bright',
               )
    ax.set_xticklabels(new_df['aisle'], rotation=-60, ha='left')
    plt.title(dep_name)
    plt.show()
    plt.close('all')
#Ve_BD_Theo_Dep('alcohol')

interactive(children=(Dropdown(description='dep_name', options=('produce', 'dairy eggs', 'snacks', 'beverages'…